<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
</head>

<body>
<h4>Список пользователей</h4>
<table style="width: 400px">
    <thead>
        <tr>
            <td style="width: 50px">Id</td>
            <td style="width: 150px">Имя</td>
            <td style="width: 100px">Возраст</td>
            <td style="width: 350px">Адрес</td>
            <td style="width: 500px">Телефоны</td>
        </tr>
    </thead>
    <tbody>
        ${users}
    </tbody>
</table>
</body>
</html>
