<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Пользователи</title>
    </head>

    <body>
        <h4>Список пользователей</h4>
        <table style="width: 400px">
            <thead>
                <tr>
                    <td style="width: 50px">Id</td>
                    <td style="width: 150px">Имя</td>
                    <td style="width: 100px">Возраст</td>
                </tr>
            </thead>
            <tbody>
                <#list users as user>
                <tr>
                    <td>${user.id}</td>
                    <td>${user.name}</td>
                    <td>${user.age}</td>
                </tr>
                </#list>
            </tbody>
        </table>
        <a href="/index.html">Перейти на стартовую страницу примера</a>
    </body>
</html>
